*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

body .body__showModalBtn{
    background-color: green;
    border: 0;
    color: seashell;
    display: block;
    position: relative;
    top: 10rem;
    padding: .5em;
    width: 100%;

}

.body__modalContainer{
    animation: fadeOut ease 1s;
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    
}   

@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
    }


.body__modalContainer--active{
    display: flex;
    animation: fadeIn ease 1s;
    scroll-behavior: smooth;

}   

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

header{
    display: flex;
    flex-direction: row;
    position: relative;
    
}

.modal__header #closeModal{
    font-size: 1.4rem;
    font-weight: bold;
    position:absolute;
    top: .3rem;
    right:.1rem;

}

.modal__header #closeModal:hover{
    cursor: pointer;

}

.body__modalContainer .modalContainer__modal{
    background-color: #fff;
    padding: 1rem;
    position: absolute;
    left: 25%;
    top: 3em;
    width: 50%;
  
}

.modal__main .modal__Paragraph{
    line-height: 1.4em;
    text-align: justify;
}



.modal__footerArticle{
    position: relative;
    text-align: right;
}

.modal__footerArticle .modal__footerButton{
    color: #fff;
    margin: 0 .3rem;
    padding: .5rem 1rem;
    position: relative;
    
    
}
.modal__footerButton--green{
    background-color: green;
    
}

.modal__footerButton--red{
    background-color: red;
}

@media screen and (max-width: 560px) {
    .body__modalContainer--active, .body__modalContainer  .modalContainer__modal{
      left: 0;
      width: 100%;
    }
    
  }